#pip freeze > requirements.txt
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
idna==3.10
libretranslatepy==2.1.1
lxml==5.4.0
requests==2.32.3
translate==3.6.1
urllib3==2.4.0
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
html5lib==1.1
idna==3.10
libretranslatepy==2.1.1
lxml==5.4.0
requests==2.32.3
six==1.17.0
soupsieve==2.7
translate==3.6.1
translator==0.0.9
typing_extensions==4.13.2
urllib3==2.4.0
webencodings==0.5.1
