<!DOCTYPE html>
<html lang="en">
<head>
  <title>Language Learning {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<section>
  <header>
    {% block header %}{% endblock header %}
  </header>
  
  <nav>
        <a href="/">Home</a>
        <a href="/translate_document">Documents</a>
        {% if not session.username %}
        <a href="/signup">Sign Up</a>
        {% endif %}
        <a href="/login">Login</a>
        {% if session.username %}
        <a href ="/profile" > Profile</a>
<form action="{{ url_for('main.logout') }}" method="POST" style="display: inline;">
    <button type="submit">Logout</button>
</form>
{% endif %}
    </nav>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  </main>
</section>
</body>
</html>