{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
  <h1>Language Translations!</h1>
{% endblock %}

{% block content %}

{% if session.username %}
  <p>Welcome, {{ session.username }}!</p>
{% endif %}

  <form method="post" action="/">
      <h2>Target language</h2>
  <select name="target_language" style="width: 300px; margin-bottom: 20px;">
    {% for code, name in languages.items() %}
      <option value="{{ code }}" {% if target_language == code %}selected{% endif %}>{{ name.capitalize() }}</option>
    {% endfor %}
  </select>
  

    <h2>Enter your source text here</h2>
    <textarea name="user_text" placeholder="Enter text here" required
          style="width: 300px; height: 150px; resize: none;">{{ user_text or '' }}</textarea>

    <br><br>
    <button type="submit">Submit</button>
  </form>

<h3>Translation</h3>
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <div style="border:1px solid #ccc; padding:10px; width:300px; height:150px; 
              white-space: pre-wrap; overflow-wrap: break-word; overflow: auto;">
    {{ transformed_text }}
  </div>
</div>



{% endblock %}




