{% extends "base.html" %}

{% block title %} - Login{% endblock %}

{% block header %}
<h1>Login</h1>
{% endblock %}


{% block content %}


{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

{% if not session.username %}
<form method="POST" action="/login">
</form>
{% else %}
<p>You are already logged in as {{ session.username }}. Logout to sign back in</p>
<a href="{{ url_for('main.logout') }}">Logout</a>
{% endif %}

<form method="POST" action="/login">
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" required maxlength="16" /><br /><br />

  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" required /><br /><br />

  <input type="submit" value="Login" />
</form>

{% endblock %}
