{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
  <h1>Language Translations!</h1>
{% endblock %}

{% block content %}

  {% if profile %}
    <table>
      <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
      </tr>
      <tr>
        {% for row in profile %}
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
      </tr>
    </table>
    {% endfor %}
  {% else %}
    <p>No results found.</p>
  {% endif %}
  <p></p>
  <a href="/update_profile">Update User Details</a>


  <p>Translation and file history currently shows the last 15 of each.</p>

  <h3>Translation History</h3>
    {% if translation_history %}
    <table>
      <tr>
      <th>Source Text</th>
      <th>Destination Text</th>
      <th>Target Language</th>
      <th>Timestamp</th>
      </tr>

      <tr>
        {% for row in translation_history%}
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <p>No results found.</p>
    {% endif %}
    </table>
    
    {% if file_translation_history %}
    <h3>Translated Files</h3>
    <table>
      <tr>
        <th>Original Filename</th>
        <th>Translated Filename</th>
        <th>Target Language</th>
        <th>Timestamp</th>
      </tr>

      <tr>
        {% for row in file_translation_history%}
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <p>No results found.</p>
    {% endif %}
    </table>

{% endblock %}
